@tailwind base;
@tailwind components;
@tailwind utilities;

ul li {
  position: relative;
}

.lista-brilhante li::before {
  content: "";
  position: absolute;
  left: -68px;
  top: -14px;
  width: 75px;
  height: 80px;
  border-radius: 50%;
  background-color: #55C5E9;
  opacity: 0,1;
  transition: opacity 0.5s ease-in-out;
}

ul li::before {
  opacity: 0.1;
  box-shadow: 0 0 5px 5px #55C5E9;
  animation: pulse 5s ease-in-out infinite alternate;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px 5px #55C5E9;
  }
  100% {
    box-shadow: 0 0 10px 10px #55C5E9;
  }
}

.hamburger{
  display: none;
  cursor: pointer;
}

.hamburguer_container {
  display: none;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  position: relative;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: blue;
}

.hamburguer_menu_Open{
  display: flex;
}

.hamburguer_menu_Open ul {
  display: flex;
  text-decoration: none;
  padding: 0;
  flex-direction: column;
  align-items: center;
}

.hamburguer_menu_Open a {
  text-decoration: none;
  font-size: 20px;
  color: #55C5E9;
}

.hamburguer_menu_Open li {
  list-style: none;
  margin: 20px 0;
}

.hamburguer_container_opened{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 10%;
  left: 0;
  background-color: #fff;
  z-index: 999;
}

@media (max-width: 800px) {
  .hamburguer {
    display: block;
  }
  .hamburguer_container {
    display: block;
    margin-left: 200px;
  }
  .hamburguer_active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburguer_active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburguer_active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
}